
//color
$aqua-color :purple;
$pink-color: pink;

//font

$size01 : 18px;
$size02 : 14px;
$size03 : 8px;


//size

$content-size : 100px;


//private classes

%container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
%flex {
    display:flex;
}

//mixines

@mixin flex-content ($horizontal, $vertical) {
    justify-content: $horizontal;
    align-items: $vertical;
}


body {
    background:white;
}


// h1 {
//     color: $aqua-color;
//     width: $content-size;
//     font-size: $size01;
// }
// h2 {
//     font-size: $size03;
//     color:$aqua-color
// }

.box {
    @extend %container;
    @extend %flex;
    @include flex-content(space-between,center );
    background-color: $pink-color;
    h1 {
        color: $aqua-color;
        width: $content-size;
        font-size: $size01;
        span {
            font-size: $size02;
        }
    }
    h2 {
        font-size: $size03;
        color:$aqua-color
    }
}