.box {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto; }

.box {
  display: flex; }

body {
  background: white; }

.box {
  justify-content: space-between;
  align-items: center;
  background-color: pink; }
  .box h1 {
    color: purple;
    width: 100px;
    font-size: 18px; }
    .box h1 span {
      font-size: 14px; }
  .box h2 {
    font-size: 8px;
    color: purple; }
